# Default values for dfp-piao.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This block is for setting up the ingress
ingress:
  public:
    enabled: true
    className: "nginx"
    hosts:
    - host: "dfp-piao.ey.test"
      paths:
        - path: /
          pathType: Prefix
      service: frontend
  private:
    enabled: true
    className: "nginx"
    hosts:
    - host: "dfp-piao.ey.test"
      paths:
        - path: /api
          pathType: Prefix
      service: gateway

serviceAccount:
  create: false
  automount: true
  annotations: {}

db:
  sql:
    address: "piaoserver.postgres.database.azure.com"
    port: 5432
  nosql:
    address: "mongoserver.global.mongocluster.cosmos.azure.com"
    port: 27017

deployments:
  gateway:
    image:
      repository: dfp-piao-gateway
      tag: "1.0.0"
      pullPolicy: Never
    cmValues:
      SPRING_PROFILES_ACTIVE: ey
      #qui le variabili di ambienti
  backend:
    image:
      repository: dfp-piao-be
      pullPolicy: Never
      tag: "1.0.0"
    imagePullSecrets: []
    livenessProbe:
      httpGet:
        path: /health/live
        port: http
    readinessProbe:
      httpGet:
        path: /health/ready
        port: http
    service:
      port: 9081
    cmValues:
      spring.application.name: PIAO
      AWS_REGION: eu-west-1
    secrets:
      - db-security
  bff:
    image:
      repository: dfp-piao-bff
      pullPolicy: Never
      tag: "1.0.0"
    imagePullSecrets: []
    livenessProbe:
      httpGet:
        path: /health/live
        port: http
    readinessProbe:
      httpGet:
        path: /health/ready
        port: http
    service:
      port: 9082
    cmValues:
      spring.application.name: PIAO
      S3_ENDPOINT: "http://localhost:19000"
      S3_BUCKET: b-piao-staging
      S3_ACCESS_KEY: admin
      S3_SECRET_KEY: password123
      URL_PAIO_API: "http://localhost:9081/api/v1"
      URL_PAIO_WORKER: "http://localhost:9083"
      ACTIVEMQ_URL: "tcp://localhost:61616"
      ACTIVEMQ_USERNAME: admin
      ACTIVEMQ_PASSWORD: admin
      DESTINATION: piao
      TOPIC: eventi
      KEYKLOACK: "http://localhost:8098/realms/PIAO"
      CLIENT_ID: piaoClient
      IS_PRODUCTION: "false"
      API_URL_INTERNAL: "http://localhost:9082/api/v1"
  frontend:
    image:
      repository: dfp-piao-fe
      pullPolicy: Never
      imagePullSecrets: []
      tag: "1.0.0"
      service:
        port: 8080










deploymentDefaults:
  replicaCount: 1
  image:
    pullPolicy: Always
    tag: "0.0.0"
  cmValues: {}
  imagePullSecrets:
    - name: registry-security
  service:
    type: ClusterIP
    port: 8080
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 512Mi
  livenessProbe:
    httpGet:
      path: /actuator/health
      port: http
    initialDelaySeconds: 120
    periodSeconds: 30
  readinessProbe:
    httpGet:
      path: /actuator/health
      port: http
    failureThreshold: 30
    periodSeconds: 10
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 2
    targetCPUUtilizationPercentage: 80
  nodeSelector: {}
  tolerations: []
  affinity: {}