.svg-container {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-container ::ng-deep svg {
  width: 100%;
  height: 100%;
}

.svg-img {
  width: 3rem;
  height: 3rem;
}
