.row-grid-risorse {
  display: grid;
  grid-template-columns: 12% 13.8% 35% 13% 13% auto;
  gap: 1.5rem;
  align-items: flex-start;
}

.btn-remove-container {
  display: flex;
  align-items: flex-end;
  padding-top: 1.5rem;
}

@media (max-width: 1450px) {
  .row-grid-risorse {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .btn-remove-container {
    grid-column: 1 / -1;
    padding-top: 0;
    align-items: flex-start;
  }
}

@media (max-width: 1100px) {
  .row-grid-risorse {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .btn-remove-container {
    grid-column: 1 / -1;
    padding-top: 0;
    align-items: flex-start;
  }
}

@media (max-width: 950px) {
  .row-grid-risorse {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .btn-remove-container {
    grid-column: 1 / -1;
    padding-top: 0;
    align-items: flex-start;
  }
}

@media (max-width: 820px) {
  .row-grid-risorse {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .btn-remove-container {
    align-items: flex-start;
    padding-top: 0;
  }

  ::ng-deep piao-text-box,
  ::ng-deep piao-text-area {
    max-width: 100% !important;
    width: 100% !important;
  }
}
