
name: "DFP"

# Definizione comune per le variabili d'ambiente dei servizi backend
x-backend-env: &backend-env
  SPRING_DATASOURCE_URL: "jdbc:postgresql://piaoserver.postgres.database.azure.com:5432/postgres?sslmode=require"
  SPRING_DATASOURCE_USERNAME: "utentepiao"
  SPRING_DATASOURCE_PASSWORD: "piaoSvil123"
  ACTIVEMQ_URL: "tcp://host.docker.internal:61616"
  ACTIVEMQ_USERNAME: "admin"
  ACTIVEMQ_PASSWORD: "admin"
  DESTINATION: "piao"
  TOPIC: "eventi"

# ================================ BACKEND ================================

services:
  gateway:
    image: dfp-piao-gateway:latest
    build:
      context: ./dfp-piao-gateway
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment: *backend-env

  # backend-BE:
  dfp-piao-be:
    image: dfp-piao-be:latest
    build:
      context: .
      dockerfile: PIAO_BE/Dockerfile
    ports:
      - "9081:9081"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment: *backend-env

  # backend-BFF:
  dfp-piao-bff:
    image: dfp-piao-bff:latest
    build:
      context: .
      dockerfile: PIAO_BFF/Dockerfile
    ports:
      - "9082:9082"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      <<: *backend-env
      URL_NOTIFICA_BE: "http://dfp-notifica-be:9083"
  dfp-notifica-be:
    image: dfp-notifica-be:latest
    build:
      context: .
      dockerfile: Notifica_BE/Dockerfile
    ports:
      - "9083:9083"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment: *backend-env
# ================================ FRONTEND ================================

  frontend-piao:
    image: dfp-piao-fe:latest
    build:
      context: ./PIAO_FE
      dockerfile: Dockerfile
    ports:
      - "3001:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      ANGULAR_APP_API_URL: "http://backend-api:8080"

