.main {
  display: flex;
  flex-direction: column;
}

.blue-frame {
  position: relative;
  margin-top: 1.5rem;
  min-height: 10rem;
  // Break out of .container-router (pl: 1.3rem, pr: 0.3rem) and .container-child (pl: 7.7rem)
  margin-left: calc(-7.7rem - 1.3rem);
  margin-right: calc(-0.3rem);
  width: calc(100% + 7.7rem + 1.3rem + 0.3rem);

  .frame-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .frame-content {
    position: relative;
    padding-top: 50px;
    padding-bottom: 1.5rem;
    padding-left: calc(7.7rem + 1.3rem);
    padding-right: 0.3rem;
  }
}

.main-dichiarazione {
  width: 40rem;
}

.title-dichiarazione {
  font-weight: 400;
  font-size: 2rem;
}

.message-dichiarazione {
  font-size: 1rem;
}

@media (max-width: 820px) {
  .main-dichiarazione {
    width: 100%;
  }
}
