<div class="main-container">
  <piao-card-header-scrivania-pa></piao-card-header-scrivania-pa>
  <piao-card-alert
    [icon]="icon"
    [titleCardHeader]="titleCardHeader"
    [secondSubTitleCardHeader]="secondSubTitleCardHeader"
    [textHrefCardHeader]="textHrefCardHeader"
    [href]="href"
  ></piao-card-alert>
  <piao-indice-piao-scrivania-pa></piao-indice-piao-scrivania-pa>
  <piao-novita-scrivania-pa></piao-novita-scrivania-pa>
  <br />
  <br />
  <br />
  <piao-avvisi-scrivania-pa id="avvisi-section"></piao-avvisi-scrivania-pa>
</div>
