:host {
  display: block;
  position: relative;
}

.error-message {
  display: block;
  margin-top: 0.1rem;
}

.isReadOnly {
  background-color: #d9d9d9; /* grigio chiaro */
  border: none; /* nessun bordo visibile */
  cursor: default; /* niente cursore testo */
  caret-color: transparent; /* nasconde il cursore di digitazione */
  pointer-events: none; /* niente click/focus */
}

.date-picker-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.date-input {
  flex: 1;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 0.75rem;
  width: 100%;
  height: 2.5rem;
  border: 1px solid #5c6f82;
  border-radius: 10px;
  color: #1a1a1a;
  background: #fff;
  outline: none;

  &::placeholder {
    color: #1a1a1a;
    opacity: 1;
  }
}

.hidden-date-input {
  position: absolute;
  bottom: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;

  // Ancora sempre a sinistra sotto il campo
  left: 0;
  right: auto;
  width: 1px;
}

.calendar-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
}

::ng-deep .calendar-svg {
  width: 1.25rem;
  height: 1.25rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

.isReadOnly {
  background-color: #d9d9d9; /* grigio chiaro */
  border: none; /* nessun bordo visibile */
  cursor: default; /* niente cursore testo */
  caret-color: transparent; /* nasconde il cursore di digitazione */
  pointer-events: none; /* niente click/focus */
}
