.novita-container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #003366;
}

p {
  color: #666;
}

.hr-novita {
  border: 0.0625rem solid #003366;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
