<div class="main">
  <div class="header-backgroud">
    <div class="container-header">
      <piao-card-header-servizi-piao></piao-card-header-servizi-piao>
    </div>
  </div>


  <div class="container-content content">
    <piao-card-alert [icon]="icon" [titleCardHeader]="titleCardHeader"
      [secondSubTitleCardHeader]="secondSubTitleCardHeader" [textHrefCardHeader]="textHrefCardHeader"
      [href]="href"></piao-card-alert>

    <piao-card-action-servizi-piao></piao-card-action-servizi-piao>

  </div>

</div>
