:host {
  display: block;
  width: 100%;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

:host ::ng-deep > div.has-background {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.piao-card-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
}

::ng-deep .svg-icon {
  width: 2rem;
  height: 2rem;
}
