.icon-container {
  width: 4rem;
  height: 4rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #003366;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-img {
  width: 3rem;
  height: 3rem;
}

.icon-mask {
  background-color: var(--icon-color);
  -webkit-mask-image: var(--icon-path);
  mask-image: var(--icon-path);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
