.title-dropdown-fields {
  font-weight: 600;
  font-size: 1.125rem;
  color: #1a1a1a;
  padding-bottom: 0.5rem;
}

.title-with-tooltip {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  gap: 0.5rem;
}
