:host {
  pointer-events: none;
}

.fixed {
  position: fixed;
}

.top-6 {
  top: 1.5rem;
}

.right-6 {
  right: 1.5rem;
}

.z-\[9999\] {
  z-index: 9999;
}

.toast {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 1rem 1rem;
  width: 100%;
}

.toast .bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0.25rem;
  background: var(--bar-color);
}

.toast .icon {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.toast-message {
  display: block;
  max-width: 20rem;
  font-size: 1rem;
  font-weight: 600;
  color: #1f2937;
  word-wrap: break-word;
  white-space: normal;
}

.toast .btn-close {
  padding: 0 !important;
}

::ng-deep .icon-svg svg {
  width: 1.75rem !important;
  height: 1.68rem !important;
}
