<div class="fixed top-6 right-6 z-[9999]">
  <div
    *ngFor="let t of toasts"
    class="toast"
    role="alert"
    aria-live="assertive"
    [style.--bar-color]="typeColor(t.type)"
  >
    <span class="bar"> </span>

    <piao-svg
      [icon]="typeIcon(t.type)"
      [fillColor]="typeColor(t.type)"
      [svgContainer]="'icon-svg'"
    ></piao-svg>

    <div class="toast-message">{{ t.message }}</div>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss(t.id)"></button>
  </div>
</div>
