.main {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 1.6rem;
}

.sub-title {
  padding-top: 0.5rem;
  font-weight: 400;
  font-size: 1.2rem;
}

piao-card-alert {
  padding-top: 1.5rem;
}

.table-container {
  padding-top: 1.5rem;
  max-width: 100%;
  max-height: 33.13rem;
  overflow-x: auto;
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: center;
  font-weight: 600;
}

.header {
  background-color: #003366;
  color: #fff;
}

.subHeader {
  background-color: #f2f7fc;
}

.vp-cell {
  border-left: none;
  border-right: none;
}

.prop-pol {
  min-width: 20.94rem;
  max-width: 20.94rem;
  width: 20.94rem;
  height: 7.5rem;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.org-are {
  min-width: 10.94rem;
  max-width: 10.94rem;
  width: 10.94rem;
  height: 4.75rem;
  padding: 1rem;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.vp-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.title-modal {
  font-weight: 400;
  font-size: 2rem;
  color: black;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.message-text {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  white-space: pre-wrap !important;
  line-height: 1.5;
  max-width: 100%;
  hyphens: auto;
  color: black;
}

.vp-details {
  margin-top: 1rem;
  width: 100%;
  max-width: 70rem;
}

.detail-row-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 40rem;
}

.detail-column {
  display: flex;
  flex-direction: column;
}

.detail-row {
  display: flex;
  flex-direction: column;
}

.detail-label {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: black;
}

.detail-value {
  font-size: 1rem;
  color: black;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.main-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60rem;
}

@media (max-width: 1000px) {
  .main-modal {
    max-width: 100%;
  }
}
