.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 50rem;
}

.title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
}

.sub-title {
  padding-top: 1rem;
  color: #333;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  white-space: pre-line;
}

.content-select {
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
}

.alert-label {
  color: #222222;
  font-weight: 600;
  font-size: 0.875rem;
}

.drop-container {
  max-width: 22.75rem;
  padding-bottom: 2rem;
}

.drop {
  border-radius: 10px;
}

.drop-label {
  color: #17324d;
  padding-top: 1rem;
  font-weight: 600;
  font-size: 0.875rem;
}

@media (max-width: 1000px) {
  .main {
    max-width: 100%;
  }
}
