<div class="main">
  <p class="title">{{ 'SCRIVANIA_PA.SERVIZI_PIAO.MODAL.REDIGI.TITLE' | translate }}</p>
  <p class="sub-title">{{ 'SCRIVANIA_PA.SERVIZI_PIAO.MODAL.REDIGI.SUB_TITLE' | translate }}</p>
  <form [formGroup]="formGroup">
    <div class="content-choice">
      @for (x of inputContent; track $index) {
        <label class="radio-option">
          <input
            type="radio"
            [formControlName]="x.formControlName"
            [value]="x.value"
            name="choice"
            (change)="handleChoice(x.value)"
          />
          <span class="custom-radio"></span>
          <span class="label-text">{{ x.label | translate }}</span>
        </label>
      }
    </div>

    <div *ngIf="showChoiceNumberOfEmployees">
      <p class="alert-label pt-4">
        {{ 'MESSAGE.ALERT_MANDATORY_FIELDS' | translate }}
      </p>

      <div class="pt-4 pb-3">
        <piao-dropdown
          [formControlName]="'numberOfEmployess'"
          [formControl]="formGroup.controls['numberOfEmployess']"
          [dropdown]="dropDown"
          [title]="titleDropdown"
          [dropContainerClass]="'container-width-25'"
          [isRequired]="true"
        ></piao-dropdown>
      </div>
    </div>
  </form>
</div>
