::ng-deep .piao-card-header-servizi-piao-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 15.6875rem;
  transform: rotate(0deg);
  padding-bottom: 2rem;
}

::ng-deep .piao-card-header-servizi-piao-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  background: url('/assets/img/cardHeaderTitleShape.png') center/cover no-repeat;
  background-color: #f8fafc;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  height: 100%;
}

::ng-deep .piao-card-header-servizi-piao-title {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

::ng-deep .piao-card-header-servizi-piao-subTitle {
  font-weight: 400;
  font-size: 1.125rem;
  white-space: pre-line;
}
