<p class="subTitle pt-4">{{ subTitleProcedureSemplificare | translate }}</p>
<p class="description">
  {{
    isDettaglio
      ? (descriptionProcedureSemplificareDettaglio | translate)
      : (descriptionProcedureSemplificare | translate)
  }}
</p>

<div class="pt-3">
  <piao-text-area
    [label]="labelTAIntroduzioneProcedure"
    [control]="form.controls['introProcedure']"
    [isDettaglio]="isDettaglio"
    [id]="'introProcedure'"
    textAreaClass="text-area"
    [maxValidatorLength]="'20000'"
    [descTooltip]="labelTAIntroduzioneProcedure"
    [containerClass]="'container-width-full'"
  ></piao-text-area>

  @if (isDettaglio) {
    @if (procedureArray && procedureArray.length > 0) {
      <div class="pt-2 table-container">
        <table class="detail-table">
          <thead>
            <tr>
              <th>{{ labelDenominazioneProcedura | translate }}</th>
              <th>{{ labelDescrizioneProcedura | translate }}</th>
              <th>{{ labelUnitaMisuraProcedura | translate }}</th>
              <th>{{ labelMisurazioneProcedura | translate }}</th>
              <th>{{ labelTargetProcedura | translate }}</th>
              <th>{{ labelUfficioResponsabileProcedura | translate }}</th>
            </tr>
          </thead>
          <tbody>
            @for (procedura of procedureArray.controls; track $index) {
              <tr>
                <td>{{ procedura.controls['denominazione'].value }}</td>
                <td>{{ procedura.controls['descrizione'].value }}</td>
                <td>{{ procedura.controls['unitaMisura'].value }}</td>
                <td>{{ procedura.controls['misurazione'].value }}</td>
                <td>{{ procedura.controls['target'].value }}</td>
                <td>{{ procedura.controls['uffResponsabile'].value }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <div class="no-value">
        {{
          'SCRIVANIA_PA.SERVIZI_PIAO.INDICE_PIAO.SEZIONE.SEZIONE_21.PROCEDURE_SEMPLIFICARE.NOT_FOUND'
            | translate
        }}
      </div>
    }
  } @else {
    @if (procedureArray && procedureArray.length > 0) {
      @for (procedura of procedureArray.controls; track $index) {
        <div class="row-grid-6 pt-2">
          <piao-text-area
            [label]="labelDenominazioneProcedura"
            [control]="procedura.controls['denominazione']"
            [isDettaglio]="isDettaglio"
            [id]="'procedure-denominazione-' + $index"
            textAreaClass="text-area-small"
            [maxValidatorLength]="'20000'"
            [descTooltip]="labelDenominazioneProcedura"
            [containerClass]="'container-flex-1'"
            [required]="true"
          ></piao-text-area>

          <piao-text-area
            [label]="labelDescrizioneProcedura"
            [control]="procedura.controls['descrizione']"
            [isDettaglio]="isDettaglio"
            [id]="'procedure-descrizione-' + $index"
            textAreaClass="text-area-small"
            [maxValidatorLength]="'20000'"
            [descTooltip]="labelDescrizioneProcedura"
            [containerClass]="'container-flex-1'"
          ></piao-text-area>

          <piao-text-box
            [label]="labelUnitaMisuraProcedura"
            [typeInput]="'text'"
            [inputClass]="'input'"
            [control]="procedura.controls['unitaMisura']"
            [isDetails]="isDettaglio"
            [maxValidatorLength]="50"
            [id]="'procedure-unitaMisura-' + $index"
            [descTooltip]="labelUnitaMisuraProcedura"
            [containerClass]="'container-width-full'"
          ></piao-text-box>

          <piao-text-box
            [label]="labelMisurazioneProcedura"
            [typeInput]="'text'"
            [inputClass]="'input'"
            [control]="procedura.controls['misurazione']"
            [isDetails]="isDettaglio"
            [maxValidatorLength]="50"
            [id]="'procedure-misurazione-' + $index"
            [descTooltip]="labelMisurazioneProcedura"
            [containerClass]="'container-width-full'"
          ></piao-text-box>

          <piao-text-box
            [label]="labelTargetProcedura"
            [typeInput]="'text'"
            [inputClass]="'input'"
            [control]="procedura.controls['target']"
            [isDetails]="isDettaglio"
            [maxValidatorLength]="50"
            [id]="'procedure-target-' + $index"
            [descTooltip]="labelTargetProcedura"
            [containerClass]="'container-width-full'"
            [required]="true"
          ></piao-text-box>

          <piao-text-box
            [label]="labelUfficioResponsabileProcedura"
            [typeInput]="'text'"
            [inputClass]="'input'"
            [control]="procedura.controls['uffResponsabile']"
            [isDetails]="isDettaglio"
            [maxValidatorLength]="50"
            [id]="'procedure-ufficioResponsabile-' + $index"
            [descTooltip]="labelUfficioResponsabileProcedura"
            [containerClass]="'container-width-full'"
            [required]="true"
          ></piao-text-box>

          <div class="btn-remove-container">
            <p class="link-blue" (click)="handleOpenModalDelete(procedura, $index)">
              {{ labelBtnRimuovi | translate }}
            </p>
          </div>
        </div>
      }
    }

    <div class="pt-3">
      <div class="pt-2">
        <piao-card-info
          [titleCardHeader]="titleCardProcedura"
          [piaoCardHeaderTitleClass]="'title-card-info'"
          [titleLoadNewForm]="labelBtnAddProcedura"
          [loadNewForm]="true"
          [piaoCardHeaderContainerClass]="'piao-card-info-container-new-form'"
          (clicked)="handleAddProcedura()"
        ></piao-card-info>
      </div>
    </div>
  }
</div>

@if (openModalDelete && !isDettaglio) {
  <piao-modal-delete
    [icon]="'AlertCircle'"
    [title]="'MODAL_REMOVE.TITLE'"
    [message]="'MODAL_REMOVE.MESSAGE'"
    [subMessage]="'MODAL_REMOVE.CONFIRM_OPERATION'"
    [openModalDelete]="openModalDelete"
    [elementToDelete]="elementToDelete"
    (confirm)="confirmDeleteProcedura()"
    (closed)="handleCloseModalDelete()"
  ></piao-modal-delete>
}
