.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 62rem;
}

.title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
}

.sub-title {
  color: #333;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  white-space: pre-line;
}

.container-text-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: wrap;
}

// Stili per il componente azione-proposta-fields
:host ::ng-deep .azione-proposta-fields .tb-container {
  gap: 1.8rem !important;
}

@media (max-width: 1220px) {
  .main {
    max-width: 100%;
  }

  ::ng-deep .container-width-30,
  ::ng-deep piao-text-box,
  ::ng-deep piao-dropdown,
  ::ng-deep piao-text-area {
    max-width: 100% !important;
    width: 100% !important;
  }

  // Override per azione-proposta-fields
  :host ::ng-deep .azione-proposta-fields .tb-container {
    gap: 1rem !important;
  }
}

@media (max-width: 820px) {
  .main {
    max-width: 100%;
  }

  ::ng-deep piao-text-box,
  ::ng-deep piao-dropdown,
  ::ng-deep piao-text-area {
    max-width: 100% !important;
    width: 100% !important;
  }
}
