<div class="card-portale">
  <svg
    class="card-portale-shape card-portale-shape-desktop"
    viewBox="0 0 1263 200"
    fill="none"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M104.5 0.5H1253C1258.25 0.5 1262.5 4.75334 1262.5 10V182C1262.5 187.247 1258.25 191.5 1253 191.5H10C4.7533 191.5 0.5 187.247 0.5 182V107.5C0.5 102.253 4.75329 98 10 98H84.5C90.299 98 95 93.299 95 87.5V10C95 4.75329 99.2533 0.5 104.5 0.5Z"
      fill="#F2F7FC"
      stroke="#4392E0"
    />
  </svg>
  <svg
    class="card-portale-shape card-portale-shape-mobile"
    viewBox="0 0 344 272"
    fill="none"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M68.918 0.5H334C339.247 0.500003 343.5 4.75336 343.5 10V261.5C343.5 266.747 339.247 271 334 271H10C4.75333 271 0.500002 266.747 0.5 261.5V75.3672C0.500056 70.1205 4.75333 65.8672 10 65.8672H48.918C54.7169 65.8671 59.418 61.1661 59.418 55.3672V10C59.418 4.7533 63.6713 0.499997 68.918 0.5Z"
      fill="#F2F7FC"
      stroke="#4392E0"
    />
  </svg>

  <div class="card-portale-icon">
    <piao-icon
      [iconContainerClass]="'icon-container-portale'"
      [iconImgClass]="'icon-img-portale'"
      [icon]="'Upload'"
      [iconColor]="'#ffffff'"
    ></piao-icon>
  </div>

  <div class="card-portale-content">
    <h2 class="card-portale-title">
      {{ 'SCRIVANIA_PA.SERVIZI_PIAO.CONSULTA_PIAO.SVG.TITLE' | translate }}
    </h2>
    <p class="card-portale-subtitle">
      {{ 'SCRIVANIA_PA.SERVIZI_PIAO.CONSULTA_PIAO.SVG.TEXT' | translate }}
    </p>
  </div>

  <div class="card-portale-action">
    <piao-button [variant]="'primary-outline'" [size]="'md'" (clicked)="handleGoToPortale()">
      <div class="d-flex align-items-center gap-2">
        <svg
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6M15 3h6v6M10 14L21 3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        {{ 'SCRIVANIA_PA.SERVIZI_PIAO.CONSULTA_PIAO.SVG.BUTTON' | translate }}
      </div>
    </piao-button>
  </div>
</div>
