.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.main {
  display: flex;
  flex-direction: column;
}

.container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 0.5rem;
}

.container-text-area {
  padding-top: 2rem;
}

.title {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.sub-title {
  padding-left: 0.2rem;
  font-weight: 400;
  font-size: 1.125rem;
}

.open-modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 1rem;
  color: #0066cc;
  gap: 0.5rem;
  cursor: pointer;
}

::ng-deep .svg {
  max-width: 1rem;
  max-height: 1rem;
}

.table-attachment {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  overflow-y: auto;
  overflow-x: auto;
}

.table-image {
  width: 100%;
  min-width: 50rem;
  border-collapse: collapse;
}

.table-image tr {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.table-image td {
  height: 4.6875rem;
}

.table-image td:nth-child(1) {
  width: 35rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  padding-left: 1rem;
}

.table-image td:nth-child(2) {
  width: 25rem;
  font-size: 0.9rem;
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
}

.table-image td:nth-child(3) {
  width: 25rem;
  font-weight: 400;
}

.table-att {
  border-collapse: collapse;
}

.table-att tr {
  border-top: 1px solid black;
}

.table-att tr + tr {
  border-top: 1px solid #ccc; /* dal secondo in poi */
}

.table-att td {
  padding-top: 0.5rem;
  height: 4.6875rem;
}

.table-att th {
  width: 20rem;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  text-align: left;
  white-space: pre-line;
}
.table-att th:nth-child(5) {
  width: 20rem;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  text-align: center;
  white-space: pre-line;
}

.table-att td:nth-child(1) {
  width: 30rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  white-space: pre-line;
}

.table-att td:nth-child(2) {
  width: 20rem;
  font-size: 0.9rem;
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
}

.table-att td:nth-child(3) {
  width: 20rem;
  font-size: 0.9rem;
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
}

.table-att td:nth-child(4) {
  width: 20rem;
  font-size: 0.9rem;
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
}

.table-att td:nth-child(5) {
  width: 20rem;
  font-weight: 400;
  text-align: center;
}

.table-att-piao {
  border-collapse: collapse;
}

.table-att-piao tr {
  border-top: 1px solid black;
}
.table-att-piao tr + tr {
  border-top: 1px solid #ccc; /* dal secondo in poi */
}

.table-att-piao td {
  padding-top: 0.5rem;
  height: 4.6875rem;
}

.table-att-piao th {
  width: 16rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  white-space: pre-line;
}
.table-att-piao th:nth-child(6) {
  width: 16rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  white-space: pre-line;
}

.table-att-piao td:nth-child(1) {
  min-width: 20rem;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;
  white-space: pre-line;
}

.table-att-piao td:nth-child(2) {
  min-width: 20rem;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: left;
  white-space: normal; /* permette il wrap */
  overflow-wrap: anywhere; /* consente di spezzare ovunque per evitare overflow */
  word-break: break-word; /* fallback per Safari vecchi e alcuni UA */
}

.table-att-piao td:nth-child(3) {
  min-width: 8.2rem;
  font-size: 0.9rem;
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
}

.table-att-piao td:nth-child(4) {
  min-width: 12rem;
  font-size: 0.9rem;
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
}

.table-att-piao td:nth-child(5) {
  min-width: 9rem;
  font-size: 0.9rem;
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
}

.table-att-piao td:nth-child(6) {
  min-width: 16rem;
  font-weight: 400;
  text-align: left;
}

.action-link {
  display: inline-flex;
  gap: 0.25rem;
  color: #0066cc;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 1.5rem;
}

::ng-deep .icon-modal {
  width: 2.5rem;
  height: 2.5rem;
}

.title-att {
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.actions-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
}

.actions-end-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-left: 1.5rem;
}
