.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 43.5rem;

  &.hidden {
    display: none;
  }
}
.main-obb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 65rem;

  &.hidden {
    display: none;
  }
}

.title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
}

.sub-title {
  color: #333;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  white-space: pre-line;
}

.title-info {
  color: #1a1a1a;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  white-space: pre-line;
}

.title-add-info {
  font-size: 1.125rem;
  font-weight: 600;
  color: #1a1a1a;
}

.row-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* riduci solo lo spacing verticale tra le righe */
  column-gap: calc((100% - (2 * 20rem)) / 2);
  row-gap: 0.5rem;
  align-items: center;
}

.row-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* riduci solo lo spacing verticale tra le righe */
  column-gap: calc((100% - (3 * 20rem)) / 3);
  row-gap: 0.5rem;
  align-items: center;
}

@media (max-width: 1220px) {
  .main-obb {
    max-width: 100%;
  }
  .row-grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  ::ng-deep .container-width-20,
  ::ng-deep piao-text-box.container-width-20,
  ::ng-deep piao-dropdown.container-width-20 {
    max-width: 100% !important;
    width: 100% !important;
  }
}

@media (max-width: 820px) {
  .main {
    max-width: 100%;
  }
  .main-obb {
    max-width: 100%;
  }

  .row-grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .row-grid {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  ::ng-deep .container-width-20,
  ::ng-deep piao-text-box.container-width-20,
  ::ng-deep piao-dropdown.container-width-20 {
    max-width: 100% !important;
    width: 100% !important;
  }
}
