.piao-card {
  padding: 0.5rem 0.75rem;
  padding-top: 3rem;
}

.title {
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chart-wrapper {
  padding-top: 2rem;
  max-width: 100%;
  margin: 0 auto;
  height: 21rem;
}

// Container ECharts
.echarts-container {
  width: 100%;
  height: 24.75rem;
  min-height: 24.75rem;
}

.legend {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.legend-title {
  font-weight: 400;
  font-size: 0.8rem;
  color: #525252;
  letter-spacing: 0.1rem;
}

.legend-labels {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legend-item span.legend-color-indicator {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--legend-color);
}

.legend-item p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #17324d;
  white-space: pre-line;
}

@media (max-width: 992px) {
  .piao-card {
    padding: 0.5rem 0.75rem;
    padding-top: 0.5rem;
  }
}
