<div class="piao-card">
  <p class="title">
    {{ chartTitle | translate }}
    <piao-tooltip
      [descTooltip]="'TOOLTIP.GRAPHIC_STATE'"
      [isInnerHTML]="true"
      [icon]="'InfoCircle'"
    ></piao-tooltip>
  </p>
  <div class="chart-wrapper">
    <div
      #chartEl
      class="echarts-container"
      aria-label="Pie graphic - Dettaglio avanzamento PIAO"
    ></div>
  </div>

  <div class="legend">
    <p class="legend-title">{{ legendTitle | translate }}</p>
    <div class="legend-labels">
      @for (item of labelsLegend; track $index) {
        <div class="legend-item">
          <span
            [style.--legend-color]="colors[$index]"
            class="legend-color-indicator"
            aria-hidden="true"
          ></span>
          <p>{{ item | translate }}</p>
        </div>
      }
    </div>
  </div>
</div>
