.container-lab-tol {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-top: 1rem;
  align-items: baseline;
}

.label {
  display: block;
  color: #17324d;
  font-weight: 600;
  font-size: 0.875rem;
}

.label piao-tooltip {
  padding-left: 0.5rem;
}

input {
  font-weight: 400;
  width: 100%;
  font-size: 1rem;
  padding-left: 0.2rem;
  line-height: 1.5rem;
}

input:focus {
  outline: none;
}

.isReadOnly {
  background-color: #d9d9d9; /* grigio chiaro */
  border: none; /* nessun bordo visibile */
  cursor: default; /* niente cursore testo */
  caret-color: transparent; /* nasconde il cursore di digitazione */
  pointer-events: none; /* niente click/focus */
}
.value {
  font-weight: 600;
  color: #0b1f33;
  /* meno spazio sopra/sotto il valore */
  padding: 0.25rem 0;
}
