.disabled {
  pointer-events: none;
  cursor: default;
}

.disabled .step-body {
  opacity: 0.5;
}

.steps-container {
  display: flex;
  flex-wrap: wrap;
}

.step {
  position: relative;
  display: flex;
  flex: 1;
  cursor: pointer;
  border-right: 1px solid #ddd;
  height: 4.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  box-sizing: border-box;
}

.step:last-child {
  border-right: none;
}

.step-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.step-left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.step-right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: auto;
}

.step-number {
  font-weight: 600;
  color: #003366;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.step-text {
  font-weight: 600;
  color: #003366;
  font-size: 0.875rem;
  line-height: 1rem;
}

.step.active {
  border-bottom: 0.1875rem solid #0066cc;
}

::ng-deep .icon-svg svg {
  width: 1.25rem !important;
  height: 1.25rem !important;
}

::ng-deep .icon-svg-approved svg {
  width: 2rem !important;
  height: 2rem !important;
}

::ng-deep .icon-svg-arrow svg {
  width: 1rem !important;
  height: 0.8rem !important;
}

.children-panel {
  position: absolute;
  top: 100%;
  left: -0.3%;
  background: #fff;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100.6%;
  z-index: 2200;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.children-step {
  position: relative;
  display: flex;
  flex: 1;
  cursor: pointer;
  height: 4.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  box-sizing: border-box;
  z-index: 2201;
}
