.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-weight: 400;
  font-size: 2.8rem;
}

.subTitle {
  font-weight: 400;
  font-size: 2rem;
}

/* ===== ACCORDION SECTION ===== */

.accordion-section {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;

  ::ng-deep {
    /* ===== HR TRA ACCORDION ===== */

    piao-accordion {
      display: block;
      position: relative;
    }

    /* HR SOPRA ogni accordion */
    piao-accordion::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #ccc;
    }

    /* HR SOTTO l'ultimo accordion */
    piao-accordion:last-child::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #ccc;
    }

    /* PRIMO APERTO: no HR sopra */
    piao-accordion.is-open:first-child::before {
      display: none;
    }

    /* ULTIMO APERTO: no HR sotto */
    piao-accordion.is-open:last-child::after {
      display: none;
    }

    /* ===== SPAZI PER ACCORDION APERTI ===== */

    /* Spazio SOPRA accordion aperto (non primo) */
    piao-accordion.is-open:not(:first-child) {
      padding-top: 1.5rem;
    }

    /* Spazio SOTTO accordion aperto (non ultimo) */
    piao-accordion.is-open:not(:last-child) {
      padding-bottom: 0.5rem;
    }

    /* ===== ACCORDION BODY STYLES ===== */
    .accordion-body {
      padding: 0;
      background: #e7eff7;
      padding-left: 1rem;
    }

    .accordion-body > :not(hr) {
      padding-inline: 1.25rem;
      padding-block: 0.75rem;
    }

    .accordion-body > hr {
      display: block;
      width: 100%;
      padding: 0;
      border: 0;
      border-top: 3px solid #000;
      box-sizing: border-box;
    }

    .accordion-body > *:not(hr) + *:not(hr) {
      margin-top: 0.75rem;
    }

    piao-accordion .accordion.is-closed .accordion-header {
      background-color: #fafafa;

      &:hover {
        background-color: unset;
      }
    }
  }
}
