.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  color: #1a1a1a;
}

.subTitle {
  padding-top: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #1a1a1a;
  padding-bottom: 1rem;
}

.subTitle-2 {
  padding-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #1a1a1a;
  padding-bottom: 1rem;
}

.row-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 5.6rem; /* solo gap orizzontale */
}

piao-text-box {
  width: 100%;
  max-width: 25.06rem;
}

piao-dropdown {
  width: 100%;
  max-width: 25.06rem;
}

::ng-deep .input {
  height: 2.5rem;
  border: 1px solid #5c6f82;
  border-radius: 10px;
}

::ng-deep .piao-tipologia-pa {
  max-width: 25.06rem;
  width: 100%;
}

.container-attachment {
  padding-top: 2rem;
}
